footer {
  margin: 0 15px;
  position: relative;
  height: 30px;
}
.attribution {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 15px;
  color: $veryDarkBlackBlue;
  a {
    color: $modViolet;
    font-weight: 600;
    text-decoration: none;
  }
}
