* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  font-size: 13px;
  background-color: $lightGrayBlue;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  @include breakpoint-up(large) {
    height: 100vh;
    justify-content: space-around;
  }
}
