// Primary Colors
$modViolet: hsl(263, 55%, 52%);
$veryDarkGrayBlue: hsl(217, 19%, 35%);
$veryDarkBlackBlue: hsl(219, 29%, 14%);
$base: #fff;
// Secondary Colors
$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);
